#w_more {
	position: fixed;
	bottom: 15px;
	right: 15px;
	display: inline-block;
	visibility: visible;
	cursor: pointer;
	z-index: 1000;
	border-radius: 50px;
	opacity: 1;
	color: #fff;
	background: #337ab7;
	border: 2px solid #e1e1e1;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: 0 5px 10px rgba(0,0,0,.15), 0 4px 15px rgba(0,0,0,.13);
	/*
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;*/
	font-size: 20px;
	line-height: 1;
	padding: 20px;
	text-align: center;
}

#w_back {
	position: fixed;
	bottom: 15px;
	right: 15px;
	display: inline-block;
	visibility: visible;
	cursor: pointer;
	z-index: 1000;
	border-radius: 50px;
	opacity: 1;
	color: #fff;
	background: #337ab7;
	border: 2px solid #e1e1e1;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: 0 5px 10px rgba(0,0,0,.15), 0 4px 15px rgba(0,0,0,.13);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	font-size: 20px;
	line-height: 1;
	padding: 20px;
	text-align: center;
}
#w_manual {
	position: fixed;
	bottom: 70px;
	right: 15px;
	display: inline-block;
	visibility: visible;
	cursor: pointer;
	z-index: 1000;
	border-radius: 50px;
	opacity: 1;
	color: #fff;
	background: #337ab7;
	border: 2px solid #e1e1e1;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: 0 5px 10px rgba(0,0,0,.15), 0 4px 15px rgba(0,0,0,.13);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	font-size: 20px;
	line-height: 1;
	padding: 20px;
	text-align: center;
}
#w_faq {
	position: fixed;
	bottom: 125px;
	right: 15px;
	display: inline-block;
	visibility: visible;
	cursor: pointer;
	z-index: 1000;
	border-radius: 50px;
	opacity: 1;
	color: #fff;
	background: #337ab7;
	border: 2px solid #e1e1e1;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: 0 5px 10px rgba(0,0,0,.15), 0 4px 15px rgba(0,0,0,.13);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	font-size: 20px;
	line-height: 1;
	padding: 20px;
	text-align: center;
}
#w_contact {
	position: fixed;
	bottom: 180px;
	right: 15px;
	display: inline-block;
	visibility: visible;
	cursor: pointer;
	z-index: 1000;
	border-radius: 50px;
	opacity: 1;
	color: #fff;
	background: #337ab7;
	border: 2px solid #e1e1e1;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: 0 5px 10px rgba(0,0,0,.15), 0 4px 15px rgba(0,0,0,.13);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	font-size: 20px;
	line-height: 1;
	padding: 20px;
	text-align: center;
}
#w_about {
	position: fixed;
	bottom: 235px;
	right: 15px;
	display: inline-block;
	visibility: visible;
	cursor: pointer;
	z-index: 1000;
	border-radius: 50px;
	opacity: 1;
	color: #fff;
	background: #337ab7;
	border: 2px solid #e1e1e1;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: 0 5px 10px rgba(0,0,0,.15), 0 4px 15px rgba(0,0,0,.13);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	font-size: 20px;
	line-height: 1;
	padding: 20px;
	text-align: center;
}
#w_map {
	position: fixed;
	bottom: 290px;
	right: 15px;
	display: inline-block;
	visibility: visible;
	cursor: pointer;
	z-index: 1000;
	border-radius: 50px;
	opacity: 1;
	color: #fff;
	background: #337ab7;
	border: 2px solid #e1e1e1;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: 0 5px 10px rgba(0,0,0,.15), 0 4px 15px rgba(0,0,0,.13);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	font-size: 20px;
	line-height: 1;
	padding: 20px;
	text-align: center;
}
